header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 68px;
  margin-top: 40px;
}

header img {
  height: 68px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  font-size: 24px;
}

nav ul {
  display: flex;
  width: 240px;
  list-style: none;
  justify-content: space-between;
  font-weight: 500;
}

a:link,
a:visited {
  text-decoration: none;
  color: #ff6060;
}

a:hover {
  text-decoration: underline;
  color: #ff6060;
}

a:active {
  text-decoration: underline;
  color: #ff6060;
}

a.active-link {
  text-decoration: underline;
  color: #ff6060;
}

@media screen and (max-width: 500px) {
  header {
    margin-top: 20px;
    height: 47px;
  }
  nav ul li {
    font-size: 12px;
    text-transform: uppercase;
  }

  nav ul {
    width: 140px;
  }

  header img {
    height: 47px;
  }
}
