.tag {
  background: #ff6060;
  border-radius: 10px;
  width: 115px;
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}

.tagsContainer {
  display: flex;
  gap: 10px 10px;
  margin-top: 21px;
  flex-wrap: wrap;
}
